<div class="panel panel-default">
  
  <div class="panel-heading">
    Listando Recursos
    <%= link_to ' ', new_mine_mine_resource_path(@mine), class: "btn btn-default glyphicon glyphicon-plus", role:"button" %>
  </div>

  <table class ="table table-hover">
    <thead>
      <tr>
        <th>Mineral</th>
        <th>Condiciones</th>
        <th>Capacidad Diaria</th>
        <th>Capacidad Mensual</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% mine_resources.each do |resource| %>
        <tr>
          <td><%= link_to (resource.mineral.name), resource %></td>
          <td><%= resource.conditions %></td>
          <td><%= resource.daily_capacity %></td>
          <td><%= resource.monthly_capacity %></td>
          <td>            
            <%= link_to ' ', edit_mine_resource_path(resource), class:"btn btn-default glyphicon glyphicon-edit", role:"button" %>
          </td>
          <td>
            <%= link_to ' ', resource, method: :delete, data: { confirm: '¿Estás seguro?' }, class:"btn btn-default glyphicon glyphicon-trash", role:"button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
  <br>

