<div class="panel panel-default">
  
  <div class="panel-heading">
    Lista de Minas
    <%= link_to ' ', new_mine_path, class: "btn btn-default glyphicon glyphicon-plus", role:"button"%>
  </div>

  <table class ="table table-hover">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Detalles</th>
        <th>Coordenadas</th>        
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @mines.each do |mine| %>
        <tr>
          <td><%= link_to mine.name, mine %></td>
          <td><%= mine.details %></td>
          <% coordinates = mine.latitude.to_s + ", " + mine.longitude.to_s %>
          <td><%= coordinates %></td>          
          <td>            
            <%= link_to ' ', edit_mine_path(mine), class:"btn btn-default glyphicon glyphicon-edit", role:"button" %>
          </td>
          <td>
            <%= link_to ' ', mine, method: :delete, data: { confirm: '¿Estás seguro?' }, class:"btn btn-default glyphicon glyphicon-trash", role:"button" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>  
</div>
<br>
